[program:{{supervisord_program_name}}]

{% if supervisord_program_env is defined %}
environment={% for k, v in supervisord_program_env.iteritems() %}{{k}}={{v | to_json}}{% if not loop.last %},{% endif %}{% endfor %}
{% endif %}

user={{supervisord_program_username | default('root')}}
command={{supervisord_program_command}}
autorestart={{supervisord_program_autorestart|default(true)|to_json}}
stopasgroup={{supervisord_stopasgroup|default(true)|to_json}}
{% if redirect_flag is defined %}
redirect_stderr=true
(% endif %)

{% for k,v in supervisord_program_addl_settings.iteritems() %}
{{k}}={{v}}
{% endfor %}
